install
text
cdrom
auth --enableshadow --passalgo=sha512
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
network  --bootproto=dhcp --ipv6=auto --activate --hostname=centos7
rootpw --plaintext toor
timezone America/Denver --isUtc
user --name=vagrant --password=vagrant --plaintext --gecos="Vagrant"
bootloader --location=mbr --boot-drive=sda
clearpart --none --initlabel
autopart --nolvm
# output warnings if selinux would be triggered.
selinux --permissive

%packages
@core
%end

%post
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end

reboot
